<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Roadmap</title>
    <link rel="stylesheet" type="text/css" href="/static/css/roadmap.css"></link>
</head>
<body>
    <div id="main-container">
        <div id="text-container">
            <h1 id="title">Guide</h1>
            <p id="details">A simple roadmap of tasks to complete before the summer camp</p>
            <div id="date">
                <span>date: </span>
                <p>17. jun 2024</p>
            </div>
        </div>
        <div id="canvas-container">
            <button id="back-btn">back</button>
            <canvas id="roadmap-canvas"></canvas>
            <button id="forward-btn">forward</button>
        </div>
        <script type="module" src="/static/js/roadmap-canvas.js"></script>
    </div>
</body>
</html>